.btn {
    color: 0000;
    background-color: var(--yellow);
    border: none;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
    padding: 0.8rem 1.5rem;
}

.btn:hover {
    color: var(--dark-green);
}