#testimonial {
    background-color: var(--gray);
    padding: 3rem 1rem;
}

.testimonialsCard {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4rem;
    margin-top: 5rem;
}

.testimonialsContent {
    max-width: 70rem;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.testimonialsContent h2 {
    font-size: 2rem;
}