:root {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --yellow: #F4CE14;
  --dark: #3333;
  --dark-green: #495E57;
  --gray: #EDEFEE;
  --orange: #EE9972;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, input, button {
  font: 400 1rem 'Roboto';
  line-height: 1.3;
}

@media (max-width: 800px) {
  html {
    font-size: 87%;
  }
}