
.reservationContainer {
    max-width: 70rem;
    padding: 3rem 2rem;
    margin: 0 auto;
}

.reservationTitle {
    display: flex;
    gap: 5rem;
    align-items: center;
    justify-content: center;
}